.gym-detail {
  padding: 30px;
  background-color: #f7f7f7;
  color: #333;
  font-family: 'Segoe UI', sans-serif;
}

.gym-detail h2 {
  text-align: center;
  margin-bottom: 20px;
}

.images {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.images img {
  width: 250px;
  border-radius: 10px;
  object-fit: cover;
}
