.signup-container {
  max-width: 400px;
  margin: auto;
  padding: 2rem;
}

.signup-container form {
  display: flex;
  flex-direction: column;
}

.signup-container input {
  margin-bottom: 1rem;
  padding: 10px;
}

.signup-container button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
}

.signup-container select {
  margin-bottom: 1rem;
  padding: 10px;
}